
<% include ../partials/header%>  

<div class="list-group" id="woo" style="margin:200px 250px 25px 250px">

  <a href="/adminr" class="list-group-item">Reported</a>

  <a href="/adminrev" class="list-group-item">Review</a>
  
  <a href="/adminpay" class="list-group-item">Payment</a>
  
  <a href="/adminusers" class="list-group-item">Users</a>
  
 
</div>


<% include ../partials/footer%>  