<% include ../partials/header %>


<h1 align="center" style= "margin-top:200px">This is heading 1</h1>

<div class="container">
   <div class="row">
	   <div class="col-md-2">
	   </div>
	   <div class="col-md-8">
		   
		   <div class="pull-left">
		       <a type="button" class="btn btn-warning" href="#">Back</a>
		   </div>
		   <div class="pull-right">
		       <a type="button" class="btn btn-success">Proceed</a>
		   </div>
		</div>   
   </div>

</div>

<% include ../partials/footer%>
