
<% include ../partials/header%>  
     <div>
      <div class="stars" id="<%=room%>" data-rating="1">
				  <span class="star" >&nbsp;</span>
				  <span class="star" >&nbsp;</span>
				  <span class="star">&nbsp;</span>
				  <span class="star">&nbsp;</span>
				  <span class="star">&nbsp;</span>
    	</div>
    	<div>
    		<a href ="/"><button id="rateSub">Submit</button></a>
    		<p id="thank" style="visibility: hidden ;margin:250px 25px 25px 150px">Thank You for Rating </p>
    	</div>
   </div>

     <script src="/js/rateSubmit.js"></script>
<% include ../partials/footer%>  